<% layout('layouts/boilerplate')%>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Explore All Places</h1>
                    <p class="lead text-muted">Visit destinations that you never imagine by browsing all the place our user made</p>
                    <p>
                        <a href="/places/add" class="btn btn-primary my-2">Make your own place</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% places.forEach(el => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="<%= el.image %>" class="card-img-top" alt="<%= el.name %>" srcset="">
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= el.name %>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/places/show/<%= el.id %>" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="/places/edit/<%= el.id %>" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        </div>
                                        <small class="text-muted"><%= getHoursPosted(el.createdAt) %></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
            </div>
        </div>

    </main>