<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <figure class="figure">
                <img src="<%= place.image%>" class="d-block w-100" alt="">
            </figure>
        </div>

        <div class="card mb-3 col-6">
            <div class="card-body">
                <h5 class="card-title">
                    <%= place.name%>
                </h5>
                <p class="card-text">
                    <%= place.description%>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= place.location%>
                </li>
                <li class="list-group-item">
                    <%= place.quota%> Limit</li>
                <li class="list-group-item">Rp
                    <%= place.price%>/night</li>
            </ul>
            <div class="card-footer text-muted">
                <%= place.createdAt%> <span><a class="btn btn-primary float-right" href="/places/adduser/<%= place.id%>">Book</a></span>
            </div>
        </div>

    </div>

    </div>